@font-face {
  font-family: 'Mungyeong-Gamhong-Apple';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/Mungyeong-Gamhong-Apple.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 모든 엘리먼트의 기본 여백과 패딩을 제거 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 폰트 설정: 시스템 기본 폰트를 사용 (보통 sans-serif 계열로) */
body {
  font-family: 'Mungyeong-Gamhong-Apple', sans-serif;
  line-height: 1.5;
}

/* HTML 요소들에 대한 기본 스타일 */
html {
  height: 100%;
}

/* a 태그에 대한 기본 스타일 제거 */
a {
  text-decoration: none;
  color: inherit;
}

/* 리스트의 기본 스타일 제거 */
ul,
ol {
  list-style: none;
}

/* 테이블의 기본 스타일 제거 */
table {
  border-collapse: collapse;
  width: 100%;
}

/* 입력 필드에 대한 기본 스타일 */
input,
button,
textarea,
select {
  background: transparent;
  border: none;
  outline: none;
}

/* form 요소들에 기본적인 스타일 */
button {
  cursor: pointer;
}

/* 기본적으로 블록 레벨 요소 */
header,
footer,
section,
article,
nav,
aside {
  display: block;
}

/* 이미지 스타일을 초기화 */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* 기타 기본 스타일 초기화 */
html, body {
  height: 100%;
}

